
<style>
            p{
                color : #00eaff;
                background-color: rgba(132, 0, 255, 0.568);
                height: 50px;
                width: 100%;
             }
            img{
            width: 50%;
            height: 50%;
            }
            #mezbah1 {
                font-size: 40px;
                color: aliceblue;
            }
            .kk {
                background-color: black;
            }
        
            .m2 {
                border: 5px solid rgba(0, 255, 21, 0.568);
                
                margin: 5px;
                font-size: large;
                background-color: blueviolet;
                padding: 40px 200px;
                border-radius: 20px;
            }
        </style>